body{
  background-color: #d1ffbd;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header{
  position: relative;
  justify-content: space-between;
  background: none;
  display: flex;

}
