body{
  background-color: #d1ffbd;
  
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
header{
  position: relative;
  justify-content: space-between;
  background-color: #B6D9C7;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 100;
}
