body{
  background-color: #d1ffbd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
header{
  position: relative;
  justify-content: space-between;
  background: none;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;

}
