body{
  background-color: #d1ffbd;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
header{
  position: relative;
  justify-content: space-between;
  background: none;
  display: flex;
  position: relative;
  justify-content: space-between;
  top: 0;
  left: 0;

}
